*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
    
}

.topbar{
    padding-top: 1.25rem;
    
    
   
    height: 2.5rem;
    padding-bottom: 2.5rem;

}
.topbar a{
    

    text-decoration: none;
    font-size: 1.063rem;
    padding-right: 3.125rem;
    
    margin-left: 3.125rem;
    color:white;
}
.h1{
    margin-top: 6.25rem;
    font-weight: bold;
    margin-left: 2.5rem;
}
.h2{
    margin-left: 2.5rem;
    
}
h3{
    padding-right: 1.563rem;
}
body{
    font-family: sans-serif;
    
}
.cont{
    background-image: url("bannerbg.png");
    color: white;
    background-size: 100% 42.5rem;
    position: relative;
    background-repeat: no-repeat;
    

}
.link{
    
    
    
    

}
.b2{
    height:1.563rem;
    width:1.563rem;
    padding-left: 1rem;
    
}
.txt{
    
}
.exp{
    background-color: rgb(245, 60, 60);
    color: white;
    border: none;
    font-size: 0.938rem;
    height: 2.813rem;
    border-radius: 0.625rem;
    width:11.875rem;
    margin-left: 2.5rem;
    
}
.exp:hover{
    color: rgb(245, 60, 60);
    background-color: white;
    

}
.img1{
    height:65px;
    width:350px;
    margin-left: 30px;
    
}
.container{
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    background-image: url('support.png');
    padding-right: 1.25rem;
    gap:1.25rem;
    height:25rem;
    width:95rem;

}
.container2{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    background-color: white;
    padding-right: 1.25rem;
    gap:1.25rem;
    height:25rem;
    width:95rem;


}
.card2{
    height:13.125rem;
    width:26.25rem;
    
    
    box-shadow: 0 0.938rem 1.563rem 0 rgba(0,0,0,0.2);
    border-radius: 1.25rem;
    background-color: white;
    color:black;
    
    
    text-align: center;
    
    }
    .card3{
        height:22.5rem ;
        width:29.375rem;
        
        box-shadow: 0 0.938rem 1.563rem 0 rgba(0,0,0,0.2);
        border-radius: 1.563rem;
        background-color: white;
        color:black;
        margin-top: 10.625rem;
        
        text-align: center;
        
        }
.card{
    height:210px ;
    width:420px;
    padding-top: 1.563rem;
    margin-top: 4.06rem;
    
    box-shadow: 0 0.938rem 1.563rem 0 rgba(0,0,0,0.2);
    border-radius: 1.25rem;
    background-color: white;
    color:black;
    
    
    text-align: center;
    
    }
    .card h3{
        padding-bottom: 0.938rem;
    }
    .p1{
        padding-top: 0.938rem;
    }
    i{
        color: blue;
        
    }
    hr{
        color: blue;
        
        
    }
    img{
        height:220px ;
    width:420px;
    padding: 0;

    
        
    }
    .img2{
        margin-top: 1.875rem;
        float: right;
        margin-right: 1.25rem;
        height: 400px;
        width: 700px;
    }
    .reach{
        background-image: url('personalized.png');
        height: 630px;
        width: 1520px;
        padding-left: 6.25rem;
        padding-top: 6.25rem;
    }
    .reach-in{
        background-color: white;
        height: 480px;
        width: 1300px;
        background-position: right;
        border-radius: 30px;
        
    }
    .img3{
        height: 480px;
        width:550px;
        float: left;
    }
    .reach-content{
        color: black;
        float: right;
        margin-top: 7.5rem;
        gap:1.875rem;
        
    }
    .learn{
        background-color: rgb(245, 60, 60);
        color: white;
        width:160px;
        height:55px;
        border-radius: 0.938rem ;
        border: none;
        
    }
    .learn:hover{
        color: rgb(245, 60, 60);
        background-color: white;
        border:0.3px solid rgb(245, 60, 60);

    }
    .footer-img{
        height:250px;
    width:390px;
    margin-top:3.063rem;
    margin-left: 0.938rem;
        
    }
    .footer2{
        background-image: linear-gradient(75deg,rgb(0, 110, 255) ,#50C878 );
        height: 250px;
        width:95rem;
    }
    .rapid-logo{
        
        height:90px;
    width:365px;
    margin-top: 9.375rem;
    margin-right: 2.5rem;
    
        
        
    }
    .footer-contact{
        background-color: #07B773;
        height:250px;
        width:520px;
    padding-top: 70px;
    padding-left: 50px;
    padding-right:50px ;
    padding-bottom: 70px;
    margin-top: 50px;
    border-radius: 330px 330px 0 0;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        width:95rem;
    }
    .column{
        
        
    }
    .contact-img{
        height: 110px;
        width:110px;
        margin-left: 155px;
        margin-bottom: 50px;
    }

.foot-text{

    display: flex;
    justify-content: center;
    gap:250px;
    width:95rem;
}
.text1{
    color: white;
    margin-top: 60px;
    
}
.text2{
    color: white;
    margin-top: 60px;
    
}
.text3{
    color: white;
    margin-top: 60px;
    margin-left: 100px;
}
.text4{
    text-align: center;
    color: black;
    background-color: #ffc107;
    margin-bottom: 0;
    padding-top: 23px;
    height: 60px;
    width:95rem;
}

.sc{
    height: 35px;
    width: 35px;
    margin-right: 5px;
}
.social{
    gap:25px;
}
.trust{
    background-image: url('trusted-partner.png');
    height: 400px;
    width: 1520px;
    
    text-align: center;
    color: white;
    
    
}
.tr{
    padding-top: 150px;
    
}

.trust p{
    font-size: 1.25rem;
}
.mission{
    background-image: url('mission-process.png');
    
    background-size: 56.25rem 25rem;
    padding: 10em 0;
    background-repeat: no-repeat;
    background-position: right;
}
.mission-cont{
    margin-left: 5.625rem;
}
ul{
    gap:0.938rem;
}
.view{
    width:9.375rem;
    height: 2.5rem;
    background-color:rgb(0, 158, 0);
    color:white;
    border:none;
    border-radius: 0.938rem;
}
.view:hover{
    color:rgb(0, 158, 0);
    background-color:white;
    border:0.3px solid rgb(0, 158, 0);

}
.more{
    height:700px;
    width:1520px;
    background-color: #ffc107;
    display: flex;
    justify-content: center;
    gap:30px;
}
.moreimg{
    height: 360px;
    width: 470px;
    border-radius: 20px;
}
.txt{
    position: absolute;
    top:2400px;
    left:40px;
    color:white;
    
}
.txt2{
    position: absolute;
    top:2400px;
    left:540px;
    color:white;
    
}
.txt3{
    position: absolute;
    top:2400px;
    left:1040px;
    color:white;
    
}
.clr{
    color:#ffc107
}