*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
    
}
.topbar{
    padding-top: 20px;
    
    
   
    height: 40px;
    padding-bottom: 40px;

}
.topbar a{
    

    text-decoration: none;
    font-size: 17px;
    padding-right: 50px;
    
    margin-left: 50px;
    color:white;
}
.h1{
    margin-top: 100px;
    font-weight: bold;
    margin-left: 40px;
}
.h2{
    margin-left: 40px;
    
}
h3{
    padding-right: 25px;
}
body{
    font-family: sans-serif;
    
}
.cont{
    background-image: url("bannerbg.png");
    color: white;
    background-size: 1550px 680px;
    background-repeat: no-repeat;
    

}
.link{
    
    
    
    

}
.b2{
    height:25px;
    width:25px;
    padding-left: 1rem;
    
}
.txt{
    
}
.exp{
    background-color: rgb(245, 60, 60);
    color: white;
    border: none;
    font-size: 15px;
    height: 45px;
    border-radius: 10px;
    width:190px;
    margin-left: 40px;
    
}
.exp:hover{
    color: rgb(245, 60, 60);
    background-color: white;
    

}
.img1{
    height:65px;
    width:350px;
    margin-left: 30px;
    
}
.container{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-image: url('support.png');
    padding-right: 20px;
    gap:20px;
    height:400px;

}
.container2{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    background-color: white;
    padding-right: 20px;
    gap:20px;
    height:400px;

}
.card2{
    height:210px ;
    width:420px;
    
    
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: white;
    color:black;
    
    
    text-align: center;
    
    }
    .card3{
        height:360px ;
        width:470px;
        
        box-shadow: 0 15px 25px 0 rgba(0,0,0,0.2);
        border-radius: 25px;
        background-color: white;
        color:black;
        margin-top: 170px;
        
        text-align: center;
        
        }
.card{
    height:210px ;
    width:420px;
    padding-top: 25px;
    margin-top: 65px;
    
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    background-color: white;
    color:black;
    
    
    text-align: center;
    
    }
    .card h3{
        padding-bottom: 15px;
    }
    .p1{
        padding-top: 15px;
    }
    i{
        color: blue;
        
    }
    hr{
        color: blue;
        
        
    }
    img{
        height:220px ;
    width:420px;
    padding: 0;

    
        
    }
    .img2{
        margin-top: 30px;
        float: right;
        margin-right: 20px;
        height: 400px;
        width: 700px;
    }
    .reach{
        background-image: url('personalized.png');
        height: 630px;
        width: 1520px;
        padding-left: 100px;
        padding-top: 100px;
    }
    .reach-in{
        background-color: white;
        height: 480px;
        width: 1300px;
        background-position: right;
        border-radius: 30px;
        
    }
    .img3{
        height: 480px;
        width:550px;
        float: left;
    }
    .reach-content{
        color: black;
        float: right;
        margin-top: 120px;
        gap:30px;
        
    }
    .learn{
        background-color: rgb(245, 60, 60);
        color: white;
        width:160px;
        height:55px;
        border-radius: 15px ;
        border: none;
        
    }
    .learn:hover{
        color: rgb(245, 60, 60);
        background-color: white;
        border:0.3px solid rgb(245, 60, 60);

    }
    .footer-img{
        height:250px;
    width:390px;
    margin-top:49px;
    margin-left: 15px;
        
    }
    .footer2{
        background-image: linear-gradient(75deg,rgb(0, 110, 255) ,#50C878 );
        height: 250px;
    }
    .rapid-logo{
        
        height:90px;
    width:365px;
    margin-top: 150px;
    margin-right: 40px;
    
        
        
    }
    .footer-contact{
        background-color: #07B773;
        height:250px;
        width:520px;
    padding-top: 70px;
    padding-left: 50px;
    padding-right:50px ;
    padding-bottom: 70px;
    margin-top: 50px;
    border-radius: 330px 330px 0 0;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        
    }
    .column{
        
        
    }
    .contact-img{
        height: 110px;
        width:110px;
        margin-left: 155px;
        margin-bottom: 50px;
    }

.foot-text{

    display: flex;
    justify-content: center;
    gap:250px;
}
.text1{
    color: white;
    margin-top: 60px;
    
}
.text2{
    color: white;
    margin-top: 60px;
    
}
.text3{
    color: white;
    margin-top: 60px;
    margin-left: 100px;
}
.text4{
    text-align: center;
    color: black;
    background-color: #ffc107;
    margin-bottom: 0;
    padding-top: 23px;
    height: 60px;
}

.sc{
    height: 35px;
    width: 35px;
    margin-right: 5px;
}
.social{
    gap:25px;
}
.trust{
    background-image: url('trusted-partner.png');
    height: 400px;
    width: 1520px;
    
    text-align: center;
    color: white;
    
    
}
.tr{
    padding-top: 150px;
    
}

.trust p{
    font-size: 20px;
}
.mission{
    background-image: url('mission-process.png');
    
    background-size: 900px 400px;
    padding: 10em 0;
    background-repeat: no-repeat;
    background-position: right;
}
.mission-cont{
    margin-left: 90px;
}
ul{
    gap:15px;
}
.view{
    width:150px;
    height: 40px;
    background-color:rgb(0, 158, 0);
    color:white;
    border:none;
    border-radius: 15px;
}
.view:hover{
    color:rgb(0, 158, 0);
    background-color:white;
    border:0.3px solid rgb(0, 158, 0);

}
.more{
    height:700px;
    width:1520px;
    background-color: #ffc107;
    display: flex;
    justify-content: center;
    gap:30px;
}
.moreimg{
    height: 360px;
    width: 470px;
    border-radius: 20px;
}
.txt{
    position: absolute;
    top:2400px;
    left:40px;
    color:white;
    
}
.txt2{
    position: absolute;
    top:2400px;
    left:540px;
    color:white;
    
}
.txt3{
    position: absolute;
    top:2400px;
    left:1040px;
    color:white;
    
}
.clr{
    color:#ffc107
}